@import 'variables';

$yellow-fade-out-size: 0.75rem;

// direction can be 'left' and 'right'
@mixin yellow-fade() {
  position: relative;
  padding-bottom: $yellow-fade-out-size;
  padding-right: $yellow-fade-out-size;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 80%;
    width: 90%;
    bottom: 0;
    right: 0;
    background-color: $firm-yellow;
  }
}
@mixin inverse-yellow-fade() {
  padding-right: initial;
  padding-left: $yellow-fade-out-size;
  &:after {
    right: initial;
    left: 0;
  }
}
