// override font family
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$line-height-base: 1.8;

// override max widths, thereby excluding default extra large breakpoint of 1140px
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
// );

$firm-yellow: #fff705;
$firm-black: #111111;

$body-color: $firm-black;
$link-color: $firm-black;
$link-hover-color: $firm-black;
$link-hover-decoration: none;
