.education-list {
  list-style-type: none;
  margin-bottom: 0;
  .education-step-count {
    color: #f0f3f5;
    margin-right: 0.25em;
    font-weight: 700;
    font-size: 4em;
  }
  .education-step-description {
    font-size: 1.2em;
    display: inline-block;
    .education-step-title {
      font-weight: 700;
    }
    .education-step-title,
    .education-step-time {
      display: block;
    }
  }
}

.education-title {
  margin-top: 2em;
  margin-bottom: 1em;
}
