@import 'variables';
@import 'mixins';

// variables override
@import '../node_modules/bootstrap-scss/bootstrap-reboot';
@import '../node_modules/bootstrap-scss/bootstrap-grid';

// include only following components
@import '../node_modules/bootstrap-scss/type';
@import '../node_modules/bootstrap-scss/navbar';
@import '../node_modules/bootstrap-scss/buttons';

@import 'global';
@import 'nav';
@import 'me';
@import 'projects';
@import 'project';
@import 'about-me';
@import 'buttons';
@import 'footer';
@import 'timeline';
@import 'timeline-moment';
@import 'languages';
@import 'library';
@import 'education';
