.languages-list-col,
.languages-picture-col {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
}

.languages-list {
  border-left: 3px solid $firm-yellow;
  list-style: none;
}

.language-row {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.languages-picture-col {
  position: relative;
}

.languages-picture-background {
  width: 100%;
}

.languages-picture-hero {
  width: 50%;
  position: absolute;
  right: 25%;
}
