@import 'mixins';

.me-row {
  @include make-row();
  margin-top: 1.5em;
  @include media-breakpoint-up(md) {
    margin-top: 5em;
  }
}

.me-col-wrapper {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(md) {
    @include make-col(12);
  }
}

.me-picture-wrapper,
.me-description {
  display: inline-block;
  @include media-breakpoint-up(md) {
    width: 270px;
  }
}

.me-picture-wrapper {
  @include yellow-fade('right');
  margin-right: 1em;
  margin-bottom: 1em;
}

.me-picture {
  width: 100%;
}

.me-description {
  margin-left: 1em;
}
