.project-picture-column,
.project-description-column {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
}

.project-description-column {
  padding-top: 2em;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 4em;
  }
}

.project-picture-column {
  padding-bottom: 4em;
  @include media-breakpoint-down(md) {
    padding-bottom: 2em;
  }
}

.project-picture-wrapper {
  @include yellow-fade();
  @include media-breakpoint-up(md) {
    &.inverse {
      @include inverse-yellow-fade();
    }
  }
}

.project-picture {
  width: 100%;
}
